@import "./assets/scripts/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.main-header {
  font-family: $primaryFont;
  text-align: center;
  margin: 50px 0 30px 0;
}

.translator {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: $primaryFont;

  &__label {
    margin: 20px 0 5px 0;
    font-size: 1.5em;
  }

  &__text-area {
    width: 250px;
    height: 100px;
    font-family: $secondaryFont;
    font-size: 1em;
  }

  &__submit {
    padding: 10px;
    font-size: 1em;
    font-family: $primaryFont;
    font-weight: bold;
    margin-top: 20px;
  }
}